In [7]:
import pandas as pd
import numpy as np

In [51]:
df=pd.read_csv('drugsComTrain_raw.tsv',sep='\t')

In [9]:
df['drugName'].nunique()

3436

In [21]:
 df.columns

Index(['Unnamed: 0', 'drugName', 'condition', 'review', 'rating', 'date',
       'usefulCount'],
      dtype='object')

In [41]:
for i in(df.columns):
     print(f'{i}:',df[i].nunique())

Unnamed: 0: 161297
drugName: 3436
condition: 884
review: 112329
rating: 10
date: 3579
usefulCount: 389

In [37]:
df.nunique()

Unnamed: 0     161297
drugName         3436
condition         884
review         112329
rating             10
date             3579
usefulCount       389
dtype: int64

In [42]:
df

,Unnamed: 0,drugName,condition,review,rating,date,usefulCount
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9.0,"May 20, 2012",27
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8.0,"April 27, 2010",192
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5.0,"December 14, 2009",17
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8.0,"November 3, 2015",10
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9.0,"November 27, 2016",37
...,...,...,...,...,...,...,...
161292,191035,Campral,Alcohol Dependence,"""I wrote my first report in Mid-October of 201...",10.0,"May 31, 2015",125
161293,127085,Metoclopramide,Nausea/Vomiting,"""I was given this in IV before surgey. I immed...",1.0,"November 1, 2011",34
161294,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2.0,"March 15, 2014",35
161295,47128,Thyroid desiccated,Underactive Thyroid,"""I&#039;ve been on thyroid medication 49 years...",10.0,"September 19, 2015",79
161296,215220,Lubiprostone,"Constipation, Chronic","""I&#039;ve had chronic constipation all my adu...",9.0,"December 13, 2014",116

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161297 entries, 0 to 161296
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   161297 non-null  int64
 1   drugName     161297 non-null  object
 2   condition    160398 non-null  object
 3   review       161297 non-null  object
 4   rating       161297 non-null  float64
 5   date         161297 non-null  object
 6   usefulCount  161297 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 8.6+ MB

In [46]:
from sklearn.preprocessing import LabelEncoder

In [47]:
le=LabelEncoder()

In [55]:
df['review']=le.fit_transform(df['review'])

In [56]:
df

,Unnamed: 0,drugName,condition,review,rating,date,usefulCount
0,206461,3203,466,77850,9.0,"May 20, 2012",27
1,95260,1431,73,86240,8.0,"April 27, 2010",192
2,92703,1854,165,57839,5.0,"December 14, 2009",17
3,138000,2285,165,99172,8.0,"November 3, 2015",10
4,35696,516,574,94329,9.0,"November 27, 2016",37
...,...,...,...,...,...,...,...
161292,191035,555,92,65709,10.0,"May 31, 2015",125
161293,127085,1976,534,59941,1.0,"November 1, 2011",34
161294,187382,2279,701,81240,2.0,"March 15, 2014",35
161295,47128,3028,812,71639,10.0,"September 19, 2015",79
161296,215220,1840,233,73878,9.0,"December 13, 2014",116

In [44]:
df.describe()

          Unnamed: 0         rating    usefulCount
count  161297.000000  161297.000000  161297.000000
mean   115923.585305       6.994377      28.004755
std     67004.445170       3.272329      36.403742
min         2.000000       1.000000       0.000000
25%     58063.000000       5.000000       6.000000
50%    115744.000000       8.000000      16.000000
75%    173776.000000      10.000000      36.000000
max    232291.000000      10.000000    1291.000000